@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Open+Sans:wght@300;400;500;600&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  background-color: #0e111a;
  @apply text-white;
  font-family: "Figtree", sans-serif;
}

.contact-btn,
.letstalk-button {
  width: 140px;
  text-align: center;
  border-radius: 0;
}

.letstalk-button {
  font-size: 15.2px;
}

.letstalk-button {
  margin-left: -1px;
}

.contact-frm-btn {
  height: 48px;
  background-color: #355ee4;
  padding: 0px 18px;
  color: #0e111a;
  font-weight: 600;
}

.contact-frm-btn:hover {
  color: #fff;
  transition: 0.5s ease-in-out;
}

.jamesburet {
  font-weight: 600;
}

.socialmediaicons {
  margin-top: 6px;
}

.jamesdesc {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.contactinput {
  color: #efefef;
  outline: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contactinput::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
